body{
    background-color: antiquewhite;
}

.sq{

    width: 1890px;
    height: 500px;
    border: 5px solid;
    background-color: transparent;
    margin-top: 200px;
   

}

#submit{
    margin-top: 39px;
}